* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none !important;
  color: #333333 !important;
  transition: 0.3s ease-in-out;
  cursor: pointer !important;
}
a:hover {
  color: #0088cc !important;
}

header .header-top {
  display: flex;
  align-items: center;
  background: #F5F6F8;
  height: 44px;
}
header .header-top p {
  font-size: 11px;
  padding: 0;
  margin: 0;
}
header .header-top a {
  font-size: 11px;
}
header .header-top .divider {
  width: 1px;
  height: 1rem;
  background-color: #ccc;
  margin-right: 1rem;
  margin-top: 6px;
}
header .header-top .main-forward a {
  padding: 0 6.5px;
}
header .header-top .language-box {
  padding-right: 20px;
}
header .header-top .modal-box {
  margin-left: 20px;
}
header .header-main {
  padding-top: 25px;
  padding-bottom: 20px;
}
header .header-main .header-logo {
  width: 24%;
}
header .header-main .header-logo img {
  width: 80%;
}
header .header-main .menu-list ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
header .header-main .menu-list ul li {
  padding: 0 15px;
}
header .header-main .menu-list ul li a {
  font-size: 14px;
  font-weight: bold;
}
header .header-main .right-side {
  display: flex;
  align-items: center;
}
header .header-main .right-side .divider {
  width: 1px;
  height: 2.5rem;
  background-color: #ccc;
  margin-right: 1.5rem;
  margin-left: 1.5rem;
  margin-top: 6px;
}
header .header-main .right-side svg {
  font-size: 24px;
}
header .header-main .right-side .contact-phone h4 {
  color: #0088cc;
  font-size: 13px;
  margin-bottom: 0px;
}
header .header-main .right-side .contact-phone span {
  color: #999 !important;
}
header .header-main .right-side .contact-phone a {
  font-weight: bold;
  color: #000000;
  font-size: 16px;
}
header .header-main .right-side .contact-phone svg {
  margin-right: 10px;
}
header .header-main .right-side .item-box .dropdown-menu {
  height: 200px;
  margin-left: -70px;
}
header .header-main .right-side .item-box .item {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}
header .header-main .right-side .item-box .item svg {
  font-size: 28px !important;
}
header .header-main .right-side .item-box .item span {
  font-size: 12px;
  padding-top: 3px;
}
header .header-main .right-side .item-box .sl-nav ul li {
  display: flex;
  flex-direction: column;
}
header .header-main .right-side .item-box .sl-nav ul li svg {
  padding-bottom: 8px;
}

.header-main .right-side .item-box .sl-nav {
  flex-direction: column;
}

.card-item {
  padding-top: 15px;
}
.card-item .card-box {
  display: flex;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
}
.card-item .card-box .card-name {
  font-size: 16px;
  font-weight: bold;
  min-width: 156px;
  display: block;
  font-size: 14px;
  text-align: left;
}
.card-item .card-box .card-bottom {
  display: flex;
  padding-top: 10px;
}
.card-item .card-box .card-bottom .card-quantity {
  color: #999;
}
.card-item .card-box .card-bottom .card-price {
  color: #007aff;
  font-weight: bold;
}
.card-item .card-box .card-thumbnail {
  padding-left: 10px;
}
.card-item .card-box .card-thumbnail img {
  width: 80px;
  height: 80px;
}

.dropdown {
  width: 24%;
}

.dropdown:hover > .dropdown-menu {
  display: block;
}

.dropdown > .dropdown-toggle:active {
  pointer-events: none;
}

.nav-wrapper {
  text-align: center;
}

.sl-nav {
  display: inline;
  padding: 0 7px;
}
.sl-nav svg {
  vertical-align: -0.185em;
}

.sl-nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  display: inline-block;
}

.sl-nav li {
  cursor: pointer;
  font-size: 11px;
}

.sl-nav li ul {
  display: none;
}

#sl-nav li ul {
  display: none;
}

.sl-nav li:hover ul {
  position: absolute;
  top: 29px;
  right: -15px;
  display: block;
  background: #fff;
  width: auto;
  padding-top: 0px;
  z-index: 999999999999999;
  border-radius: 5px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

.sl-nav li:hover .triangle {
  position: absolute;
  top: 15px;
  right: -10px;
  z-index: 10;
  height: 14px;
  overflow: hidden;
  width: 30px;
  background: transparent;
}

.sl-nav li:hover .triangle:after {
  content: "";
  display: block;
  z-index: 20;
  width: 15px;
  transform: rotate(45deg) translateY(0px) translatex(10px);
  height: 15px;
  background: #fff;
  border-radius: 2px 0px 0px 0px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

#sl-nav.header-top ul {
  position: absolute;
  top: 29px;
  right: -15px;
  display: block;
  background: #fff;
  width: auto;
  padding-top: 0px;
  z-index: 1;
  border-radius: 5px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

#sl-nav:hover .triangle {
  position: absolute;
  top: 15px;
  right: -10px;
  z-index: 10;
  height: 14px;
  overflow: hidden;
  width: 30px;
  background: transparent;
}

#sl-nav:hover .triangle:after {
  content: "";
  display: block;
  z-index: 20;
  width: 15px;
  transform: rotate(45deg) translateY(0px) translatex(10px);
  height: 15px;
  background: #fff;
  border-radius: 2px 0px 0px 0px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

.sl-nav li ul li {
  position: relative;
  text-align: center;
  background: transparent;
  padding: 3px 15px;
  padding-bottom: 0;
  z-index: 2;
  font-size: 15px;
  color: #3c3c3c;
  display: flex;
}
.sl-nav li ul li a {
  font-size: 11px;
}

.sl-nav li ul li:last-of-type {
  padding-bottom: 15px;
}

.sl-nav li ul li span {
  padding-left: 5px;
}

.sl-nav li ul li span:hover,
.sl-nav li ul li span.active {
  color: #146c78;
}

.search-box {
  border: 1.5px solid #007aff;
  height: 48px;
  width: 75%;
  display: flex;
  align-items: center;
  border-radius: 4px;
  margin-left: 20px;
}
.search-box .select-box {
  margin-left: 10px;
  border: none;
  outline: none;
}
.search-box input {
  border: none;
  outline: none;
  height: 100%;
  width: 78%;
}
.search-box select,
.search-box option {
  background: transparent;
  border: none;
  font-size: 12px;
}
.search-box input {
  border: none;
  font-size: 12px;
}
.search-box .search-btn {
  border: none;
  background: transparent;
  display: flex;
  width: 100%;
  justify-content: end;
}
.search-box .search-btn svg {
  font-size: 18px;
}

.header-bottom {
  border-top: 1px solid #f7f7f7;
  border-bottom: 1px solid #f7f7f7;
}
.header-bottom .header-left {
  width: 78%;
}
.header-bottom .header-right {
  width: 22%;
  justify-content: end;
  margin-left: 10px;
  padding-left: 13px;
}
.header-bottom .header-right .item-box {
  display: flex;
  padding: 0 10px;
}
.header-bottom .header-right .item-box svg {
  font-size: 18px;
  margin-right: 10px;
}
.header-bottom .header-right .item-box span {
  font-size: 14px;
}

.service-main {
  padding-top: 40px;
}
.service-main .service-box {
  overflow: hidden;
  border: 1px solid rgb(201, 200, 200);
}
.service-main .icon-box {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
.service-main .icon-box h4 {
  font-size: 14px;
  font-weight: bold;
}
.service-main .icon-box p {
  font-size: 13px;
  color: #666666;
}
.service-main .icon-box svg {
  font-size: 30px;
  margin-right: 15px;
}

.deal-item {
  overflow: hidden;
  padding-top: 40px;
}
.deal-item .item-base {
  display: flex;
  justify-content: space-between;
}
.deal-item .item-base .left-side {
  display: flex;
  align-items: center;
}
.deal-item .item-base .left-side h2 {
  font-size: 20px;
  font-weight: bold;
}
.deal-item .item-base .left-side .countdown-end {
  background: #f7f7f7;
  margin-left: 20px;
  padding: 5px 10px;
}
.deal-item .item-base .left-side .countdown-end label {
  font-size: 12px;
}
.deal-item .item-base .left-side .countdown-end span {
  font-size: 12px;
  font-weight: bold;
}
.deal-item .item-base .btn-product a {
  font-size: 14px;
}

.deal-wrapper {
  overflow: hidden;
}

.product-wrapper {
  display: flex;
  padding-top: 20px;
}
.product-wrapper .item-wrapper {
  text-align: center;
  position: relative;
  font-size: 1rem;
  color: #020101;
}
.product-wrapper .item-wrapper:hover .product-action,
.product-wrapper .item-wrapper:hover .product-menu,
.product-wrapper .item-wrapper:hover .product-action-horizontal {
  visibility: visible;
  opacity: 1;
}
.product-wrapper .item-wrapper:hover .product-action-horizontal {
  bottom: 1.5rem;
}
.product-wrapper .item-wrapper .product-price {
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.product-wrapper .product-gallery {
  position: relative;
  margin-bottom: 0;
  transition: box-shadow 0.35s;
}
.product-wrapper .product-gallery img {
  display: block;
  width: 100%;
  height: 288px;
  transition: opacity 0.4s;
}
.product-wrapper .product-gallery img:last-child {
  position: absolute;
  opacity: 0;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  -o-object-fit: cover;
  object-fit: cover;
}
.product-wrapper .product-gallery img:first-child {
  position: relative;
  opacity: 1;
}
.product-wrapper .product-gallery:hover img:last-child {
  opacity: 1;
}
.product-wrapper .product-label-main {
  left: 2rem;
  top: 2rem;
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 99999;
}
.product-wrapper .product-label {
  display: inline-block;
  text-align: center;
  margin-bottom: 0.5rem;
  font-size: 1.2em;
  letter-spacing: -0.005em;
  color: #fff;
  line-height: 1;
  padding: 0.6rem 1rem;
  border-radius: 0.3rem;
  text-transform: uppercase;
}
.product-wrapper .product-label.label-new {
  background: #0088cc;
  padding: 0.6rem 1rem;
}
.product-wrapper .product-label.label-discount {
  background: #FF7272;
}
.product-wrapper .product-label.label-hot {
  background: #799b5a;
}
.product-wrapper .product-sales-wrapper {
  position: relative;
  margin-bottom: 1.4rem;
}
.product-wrapper .product-sales-wrapper .progress-bar {
  height: 1rem;
  background: #eee;
  margin-bottom: 0.7rem;
}
.product-wrapper .product-sales-wrapper .product-sales-count {
  color: #666;
  font-size: 1.3rem;
}
.product-wrapper .product-sales-wrapper .product-sales-count mark {
  background-color: transparent;
  color: inherit;
}
.product-wrapper .btn-product {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  padding: 1.14em 0;
  line-height: 1.2;
  background-color: #0088cc;
  color: #fff;
  font-size: 1.4em;
  font-weight: 600;
  letter-spacing: -0.025em;
  text-transform: uppercase;
  transition: opacity 0.3s;
}
.product-wrapper .btn-item-wrapper:hover,
.product-wrapper .btn-product:active {
  color: #fff;
}
.product-wrapper .btn-product.btn-link {
  display: inline-block;
  font-weight: 600;
  font-size: 1.3rem;
  line-height: 1.6;
  flex: none;
  background-color: transparent;
  padding: 0;
}
.product-wrapper .btn-product.btn-link::after {
  margin-top: 0;
}
.product-wrapper .btn-product.btn-sm {
  padding: 0.693em 0;
}
.product-wrapper .btn-wishlist {
  line-height: 1;
}
.product-wrapper .btn-wishlist i::before {
  margin: 0;
}
.product-wrapper .btn-cart {
  font-weight: 600;
}
.product-wrapper .btn-cart.btn-link {
  color: #0088cc;
}
.product-wrapper .btn-cart.btn-link:hover,
.product-wrapper .btn-cart.btn-link:active {
  color: #0088cc;
}
.product-wrapper .btn-cart:not(.btn-label) i.w-icon-cart {
  font-size: 1.8rem;
  margin-bottom: 0.4rem;
}
.product-wrapper .btn-label {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.6rem;
  height: 3.6rem;
  margin-bottom: 0.5rem;
  background-color: #fff;
  border: 1px solid #eee;
  color: #999;
  font-size: 1.8em;
  font-weight: 400;
  line-height: 3.5rem;
  overflow: hidden;
  transition: background-color 0.3s, border-color 0.3s, color 0.3s, visibility 0.3s, opacity 0.3s, transform 0.3s;
}
.product-wrapper .btn-label:hover,
.product-wrapper .btn-label:active {
  border-color: #0088cc;
  color: #fff;
  background-color: #0088cc;
}
.product-wrapper .btn-label:hover svg,
.product-wrapper .btn-label:active svg {
  color: #fff;
}
.product-wrapper .btn-label.btn-cart,
.product-wrapper .btn-label.btn-quickview {
  font-size: 1.6em;
}
.product-wrapper .btn-label.btn-compare {
  font-size: 2em;
}
.product-wrapper .product-menu .btn-label {
  border-radius: 50%;
}
.product-wrapper .btn-label.btn-cart {
  margin-bottom: 0.2rem;
}
.product-wrapper .btn-label.loading {
  background-color: rgba(255, 255, 255, 0.2);
}
.product-wrapper .btn-label.loading::before {
  opacity: 0.4;
}
.product-wrapper .product-action {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  background-color: transparent;
  z-index: 10;
  transition: opacity 0.3s, visibility 0.3s, bottom 0.3s;
  opacity: 0;
  visibility: hidden;
}
.product-wrapper .product-menu {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  transition: opacity 0.3s, visibility 0.3s;
  opacity: 0;
  visibility: hidden;
}
.product-wrapper .product-title {
  margin-top: 1rem;
  margin-bottom: 0.7rem;
  font-size: 1.3rem;
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.product-wrapper .product-title a {
  color: inherit;
}
.product-wrapper .product-title a:hover {
  color: #0088cc;
}
.product-wrapper .product-cat {
  margin-bottom: 0.5rem;
  font-size: 1.1rem;
  color: #999;
  line-height: 1;
  text-transform: uppercase;
}
.product-wrapper .product-cat a {
  display: inline-block;
  color: inherit;
}
.product-wrapper .product-cat a:hover {
  color: #0088cc;
}
.product-wrapper .product-variations {
  display: flex;
  justify-content: center;
}
.product-wrapper .product-variations > a {
  border: 1px solid #ccc;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #fff;
  width: 2.6rem;
  height: 2.6rem;
  border-radius: 0.3rem;
  transition: border-color 0.3s;
}
.product-wrapper .product-variations > a:not(:last-child) {
  margin-right: 0.8rem;
}
.product-wrapper .product-variations > a:not(.color).active,
.product-wrapper .product-variations > a:not(.color):hover {
  border: 1px solid #0088cc;
}
.product-wrapper .ratings-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1;
  margin-bottom: 0.3rem;
  font-size: 1.2rem;
}
.product-wrapper .ratings-main,
.product-wrapper .ratings {
  position: relative;
}
.product-wrapper .ratings-main {
  cursor: pointer;
  margin-right: 0.5rem;
}
.product-wrapper .ratings-main svg {
  color: #ecc711;
}
.product-wrapper .ratings-main:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
.product-wrapper .ratings {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
}
.product-wrapper .rating {
  margin: 2px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: capitalize;
  font-size: 1.2rem;
  color: #aaa;
}
.product-wrapper .rating:hover {
  color: #0088cc;
}
.product-wrapper .product-price {
  align-items: baseline;
  font-size: 1.6rem;
  font-weight: 600;
  letter-spacing: -0.05em;
  line-height: 1.6;
  transition: visibility 0.4s, opacity 0.4s;
}
.product-wrapper .product-price .old-price {
  font-weight: 400;
  color: #aaa;
}
.product-wrapper .product-price .new-price {
  color: #333;
  text-decoration: none;
}
.product-wrapper .product-price .new-price:not(:last-child) {
  margin-right: 1rem;
}
.product-wrapper .product-price:not(:last-child) {
  margin-bottom: 0.9rem;
}
.product-wrapper .sold-by {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  color: #666;
}
.product-wrapper .sold-by a {
  color: #0088cc;
}
.product-wrapper .product-wrap {
  margin-bottom: 2rem;
}
.product-wrapper .product-simple:hover .product-price {
  visibility: hidden;
  opacity: 0;
}
.product-wrapper .product-slideup-content {
  overflow: hidden;
}
.product-wrapper .product-slideup-content .product-hidden-details {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  padding-top: 1.5rem;
  transform: translateY(0);
  transition: transform 0.3s;
  background-color: #fff;
}
.product-wrapper .product-slideup-content .product-details {
  background-color: #fff;
  transition: transform 0.3s;
}
.product-wrapper .product-slideup-content .btn-wishlist {
  transform: translateX(-150%);
}
.product-wrapper .product-slideup-content .btn-compare {
  transform: translateX(-300%);
}
.product-wrapper .product-slideup-content:hover .product-details,
.product-wrapper .product-slideup-content:hover .product-hidden-details {
  transform: translateY(-50px);
}
.product-wrapper .product-slideup-content:hover .btn-label {
  transform: translateX(0);
  visibility: visible;
  opacity: 1;
}
.product-wrapper .product-image-gap {
  padding: 0.9rem;
  border: 1px solid #eee;
  background-color: #fff;
}
.product-wrapper .product-image-gap .product-details {
  padding: 1.8rem 1rem 1rem;
}
.product-wrapper .product-image-gap.product-classic .product-action {
  left: 0;
  bottom: 0;
}
.product-wrapper .product-image-gap:hover {
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.05);
}
.product-wrapper .product-widget {
  display: flex;
  align-items: center;
}
.product-wrapper .product-widget .product-name {
  font-size: 1.3rem;
  white-space: normal;
  line-height: 1.45;
  margin-bottom: 0.6rem;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.product-wrapper .product-widget {
  padding: 1rem 0;
}
.product-wrapper .product-widget .product-gallery {
  margin: 0 1rem 0 0;
  max-width: 11rem;
  padding: 0 1rem 0 0;
}
.product-wrapper .product-widget .product-details {
  padding: 0 1rem 0 0;
}
.product-wrapper .product-widget .product-name {
  margin-bottom: 0.7rem;
  color: #666;
}
.product-wrapper .product-widget .product-price {
  font-size: 1.5rem;
}
.product-wrapper .sidebar .product-widget {
  padding: 1rem 0;
}
.product-wrapper .sidebar .product-widget .product-gallery {
  max-width: 35.73%;
  min-width: 33.33%;
  margin-right: 1rem;
  padding: 0;
}
.product-wrapper .sidebar .product-widget .product-name {
  margin-bottom: 0.6rem;
  color: #333;
}
.product-wrapper .sidebar .product-widget .ratings-wrapper {
  margin-bottom: 0.5rem;
}
.product-wrapper .product.text-center .ratings-wrapper {
  text-align: start;
}
.product-wrapper .product.text-center .ratings-wrapper,
.product-wrapper .product.text-center .product-action {
  justify-content: center;
}

.banner-main {
  padding-top: 60px;
  display: flex;
  gap: 2rem;
}
.banner-main .banner-box {
  position: relative;
}
.banner-main .banner-box .banner-content {
  position: absolute;
  top: 49px;
  left: 53px;
  right: 0;
  bottom: 0;
  color: white;
}
.banner-main .banner-box .banner-content h3 {
  font-size: 30px;
  font-weight: bold;
}
.banner-main .banner-box .banner-content div {
  font-size: 16px;
  font-weight: bold;
}
.banner-main .banner-box .banner-content strong {
  color: #FF7272;
}
.banner-main .banner-box .banner-content a {
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15em;
  font-size: 14px;
  display: inline-block;
  position: relative;
}
.banner-main .banner-box .banner-content a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.banner-main .banner-box .banner-content a:hover:after {
  width: 100%;
  left: 0;
}
.banner-main .banner-box .banner-content hr {
  width: 4rem;
  height: 0.4rem;
  color: white;
  margin-top: 1.5rem;
  margin-bottom: 1.8rem;
  background: white;
  opacity: 1;
}
.banner-main .banner-box.second h3 {
  color: #000;
}
.banner-main .banner-box.second div {
  color: #666666;
}
.banner-main .banner-box.second hr {
  background: #000;
}
.banner-main .banner-box.second a {
  color: #000 !important;
}
.banner-main .banner-box.second a::after {
  background: #000;
}
.banner-main img {
  width: 100%;
  border-radius: 6px;
}

.electronic-main .electronic-wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}
.electronic-main .electronic-wrapper h2 {
  font-size: 20px;
  font-weight: bold;
}
.electronic-main .electronic-wrapper .nav-item a {
  text-transform: uppercase;
}

.tab-content .product-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 0;
}
.tab-content .product-wrapper .zimba {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 0em;
}
.tab-content .product-wrapper .item-wrapper.base {
  grid-row: 1;
  grid-column: 1;
}
.tab-content .product-wrapper .item-wrapper.base .product {
  display: flex;
  flex-direction: column;
  height: 100%;
  background: #f4f4f4;
}/*# sourceMappingURL=index.css.map */